{
 "x-generated-notice": "AUTO-GENERATED FILE \u2014 DO NOT EDIT DIRECTLY. Edit openapi-v2.template.json instead, then run: npm run generate:v2-models",
 "openapi": "3.0.0",
 "info": {
  "description": "Leonardo.Ai API OpenAPI specification v2.0",
  "title": "Rest Endpoints v2",
  "version": "v2.0.0"
 },
 "servers": [
  {
   "url": "https://cloud.leonardo.ai/api/rest/v2",
   "description": "Leonardo.Ai API server v2"
  }
 ],
 "tags": [
  {
   "name": "Generations"
  }
 ],
 "paths": {
  "/generations": {
   "post": {
    "tags": [
     "Generations"
    ],
    "summary": "Create Async Generation",
    "description": "Submit a generation job. Returns a generation ID to poll for the finished result.",
    "operationId": "createGeneration",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "discriminator": {
         "propertyName": "model",
         "mapping": {
          "motion_2.0": "#/components/schemas/Motion2_0GenerationRequest",
          "motion_2.0-fast": "#/components/schemas/Motion2_0FastGenerationRequest",
          "veo-3.1-generate-001": "#/components/schemas/Veo3_1Generate001GenerationRequest",
          "veo-3.1-fast-generate-001": "#/components/schemas/Veo3_1FastGenerate001GenerationRequest",
          "veo-3.1-lite": "#/components/schemas/Veo3_1LiteGenerationRequest",
          "flux-dev": "#/components/schemas/FluxDevGenerationRequest",
          "flux-kontext-pro": "#/components/schemas/FluxKontextProGenerationRequest",
          "flux-kontext-max": "#/components/schemas/FluxKontextMaxGenerationRequest",
          "flux-schnell": "#/components/schemas/FluxSchnellGenerationRequest",
          "flux-pro-2.0": "#/components/schemas/FluxPro2_0GenerationRequest",
          "phoenix-v0.9": "#/components/schemas/PhoenixV0_9GenerationRequest",
          "phoenix-v1.0": "#/components/schemas/PhoenixV1_0GenerationRequest",
          "kino-xl": "#/components/schemas/KinoXlGenerationRequest",
          "anime-xl": "#/components/schemas/AnimeXlGenerationRequest",
          "portrait-perfect": "#/components/schemas/PortraitPerfectGenerationRequest",
          "stock-photography": "#/components/schemas/StockPhotographyGenerationRequest",
          "illustrative-albedo": "#/components/schemas/IllustrativeAlbedoGenerationRequest",
          "concept-art": "#/components/schemas/ConceptArtGenerationRequest",
          "lifelike-vision": "#/components/schemas/LifelikeVisionGenerationRequest",
          "graphic-design": "#/components/schemas/GraphicDesignGenerationRequest",
          "lightning-xl": "#/components/schemas/LightningXlGenerationRequest",
          "ideogram-v3.0": "#/components/schemas/IdeogramV3_0GenerationRequest",
          "ideogram-v4.0": "#/components/schemas/IdeogramV4_0GenerationRequest",
          "ideogram/p-image-ideogram": "#/components/schemas/Ideogram_pImageIdeogramGenerationRequest",
          "ideogram/ideogram-4.5": "#/components/schemas/Ideogram_ideogram4_5GenerationRequest",
          "gemini-2.5-flash-image": "#/components/schemas/Gemini2_5FlashImageGenerationRequest",
          "nano-banana-2": "#/components/schemas/NanoBanana2GenerationRequest",
          "nano-banana-2-lite": "#/components/schemas/NanoBanana2LiteGenerationRequest",
          "gemini-image-2": "#/components/schemas/GeminiImage2GenerationRequest",
          "kling-2.5": "#/components/schemas/Kling2_5GenerationRequest",
          "kling-2.6": "#/components/schemas/Kling2_6GenerationRequest",
          "kling-2.5-turbo-standard": "#/components/schemas/Kling2_5TurboStandardGenerationRequest",
          "lucid-origin": "#/components/schemas/LucidOriginGenerationRequest",
          "lucid-realism": "#/components/schemas/LucidRealismGenerationRequest",
          "ltxv-2.3-pro": "#/components/schemas/Ltxv2_3ProGenerationRequest",
          "ltxv-2.3-fast": "#/components/schemas/Ltxv2_3FastGenerationRequest",
          "happy-horse": "#/components/schemas/HappyHorseGenerationRequest",
          "happy-horse-1.1": "#/components/schemas/HappyHorse1_1GenerationRequest",
          "hailuo-2_3": "#/components/schemas/Hailuo23GenerationRequest",
          "hailuo-2_3-fast": "#/components/schemas/Hailuo23FastGenerationRequest",
          "hailuo-03": "#/components/schemas/Hailuo03GenerationRequest",
          "alibaba/wan-3.0": "#/components/schemas/Alibaba_wan3_0GenerationRequest",
          "wan-2.7": "#/components/schemas/Wan2_7GenerationRequest",
          "bfl/flux-3-video": "#/components/schemas/Bfl_flux3VideoGenerationRequest",
          "bfl/flux-3-image": "#/components/schemas/Bfl_flux3ImageGenerationRequest",
          "wan-2.6": "#/components/schemas/Wan2_6GenerationRequest",
          "seedance-1.0-pro": "#/components/schemas/Seedance1_0ProGenerationRequest",
          "seedance-1.0-pro-fast": "#/components/schemas/Seedance1_0ProFastGenerationRequest",
          "seedance-2.0": "#/components/schemas/Seedance2_0GenerationRequest",
          "seedance-2.0-fast": "#/components/schemas/Seedance2_0FastGenerationRequest",
          "seedance-2.0-mini": "#/components/schemas/Seedance2_0MiniGenerationRequest",
          "bytedance/seedance-2.5": "#/components/schemas/Bytedance_seedance2_5GenerationRequest",
          "grok-imagine-1.5": "#/components/schemas/GrokImagine1_5GenerationRequest",
          "seedream-4.0": "#/components/schemas/Seedream4_0GenerationRequest",
          "seedream-4.5": "#/components/schemas/Seedream4_5GenerationRequest",
          "seedream-5.0-pro": "#/components/schemas/Seedream5_0ProGenerationRequest",
          "bytedance/seedream-5.0-flash": "#/components/schemas/Bytedance_seedream5_0FlashGenerationRequest",
          "gpt-image-1.5": "#/components/schemas/GptImage1_5GenerationRequest",
          "gpt-image-2": "#/components/schemas/GptImage2GenerationRequest",
          "openai/gpt-image-2.5-flare": "#/components/schemas/Openai_gptImage2_5FlareGenerationRequest",
          "openai/gpt-image-2.5-sunburst": "#/components/schemas/Openai_gptImage2_5SunburstGenerationRequest",
          "recraft-v4": "#/components/schemas/RecraftV4GenerationRequest",
          "recraft-v4-pro": "#/components/schemas/RecraftV4ProGenerationRequest",
          "krea-2-turbo": "#/components/schemas/Krea2TurboGenerationRequest",
          "krea/krea-2": "#/components/schemas/Krea_krea2GenerationRequest",
          "kling-video-o-1": "#/components/schemas/KlingVideoO1GenerationRequest",
          "kling-3.0": "#/components/schemas/Kling3_0GenerationRequest",
          "kling-3.0-turbo": "#/components/schemas/Kling3_0TurboGenerationRequest",
          "gemini-omni-flash": "#/components/schemas/GeminiOmniFlashGenerationRequest",
          "google/gemini-omni-1.1-flash-preview": "#/components/schemas/Google_geminiOmni1_1FlashPreviewGenerationRequest",
          "kling-video-o-3": "#/components/schemas/KlingVideoO3GenerationRequest",
          "aurora-upscaler-creative": "#/components/schemas/AuroraUpscalerCreativeGenerationRequest",
          "aurora-upscaler-precise": "#/components/schemas/AuroraUpscalerPreciseGenerationRequest",
          "remove-bg": "#/components/schemas/RemoveBgGenerationRequest",
          "rodin-v2": "#/components/schemas/RodinV2GenerationRequest",
          "music-v1": "#/components/schemas/MusicV1GenerationRequest",
          "sound-effects-v2": "#/components/schemas/SoundEffectsV2GenerationRequest",
          "dialogue-v3": "#/components/schemas/DialogueV3GenerationRequest",
          "seed-audio-1.0": "#/components/schemas/SeedAudio1_0GenerationRequest"
         }
        },
        "oneOf": [
         {
          "$ref": "#/components/schemas/Motion2_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Motion2_0FastGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Veo3_1Generate001GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Veo3_1FastGenerate001GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Veo3_1LiteGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/FluxDevGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/FluxKontextProGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/FluxKontextMaxGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/FluxSchnellGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/FluxPro2_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/PhoenixV0_9GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/PhoenixV1_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/KinoXlGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/AnimeXlGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/PortraitPerfectGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/StockPhotographyGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/IllustrativeAlbedoGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/ConceptArtGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/LifelikeVisionGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/GraphicDesignGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/LightningXlGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/IdeogramV3_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/IdeogramV4_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Ideogram_pImageIdeogramGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Ideogram_ideogram4_5GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Gemini2_5FlashImageGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/NanoBanana2GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/NanoBanana2LiteGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/GeminiImage2GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Kling2_5GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Kling2_6GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Kling2_5TurboStandardGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/LucidOriginGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/LucidRealismGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Ltxv2_3ProGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Ltxv2_3FastGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/HappyHorseGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/HappyHorse1_1GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Hailuo23GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Hailuo23FastGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Hailuo03GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Alibaba_wan3_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Wan2_7GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Bfl_flux3VideoGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Bfl_flux3ImageGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Wan2_6GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedance1_0ProGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedance1_0ProFastGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedance2_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedance2_0FastGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedance2_0MiniGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Bytedance_seedance2_5GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/GrokImagine1_5GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedream4_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedream4_5GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Seedream5_0ProGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Bytedance_seedream5_0FlashGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/GptImage1_5GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/GptImage2GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Openai_gptImage2_5FlareGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Openai_gptImage2_5SunburstGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/RecraftV4GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/RecraftV4ProGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Krea2TurboGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Krea_krea2GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/KlingVideoO1GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Kling3_0GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Kling3_0TurboGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/GeminiOmniFlashGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/Google_geminiOmni1_1FlashPreviewGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/KlingVideoO3GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/AuroraUpscalerCreativeGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/AuroraUpscalerPreciseGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/RemoveBgGenerationRequest"
         },
         {
          "$ref": "#/components/schemas/RodinV2GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/MusicV1GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/SoundEffectsV2GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/DialogueV3GenerationRequest"
         },
         {
          "$ref": "#/components/schemas/SeedAudio1_0GenerationRequest"
         }
        ]
       }
      }
     },
     "description": "Request body for creating a generation",
     "required": true
    },
    "responses": {
     "200": {
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "generationId": {
           "nullable": false,
           "title": "String",
           "type": "string",
           "description": "The unique identifier for the generation job."
          },
          "apiCreditCost": {
           "nullable": true,
           "title": "Int",
           "type": "integer",
           "description": "API Credits Cost for Generation. Available for Production API Users."
          }
         }
        }
       }
      },
      "description": "Responses for POST /generations"
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "Motion2_0GenerationRequest": {
    "title": "Motion 2.0",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "motion_2.0"
      ],
      "description": "Must be `motion_2.0`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "allOf": [
       {}
      ],
      "oneOf": [
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           512
          ]
         },
         "height": {
          "enum": [
           768
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           576
          ]
         },
         "height": {
          "enum": [
           720
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           832
          ]
         },
         "height": {
          "enum": [
           480
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           480
          ]
         },
         "height": {
          "enum": [
           832
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           1280
          ]
         },
         "height": {
          "enum": [
           720
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           720
          ]
         },
         "height": {
          "enum": [
           1280
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           0
          ]
         },
         "height": {
          "enum": [
           0
          ]
         }
        }
       },
       {
        "not": {
         "anyOf": [
          {
           "required": [
            "width"
           ]
          },
          {
           "required": [
            "height"
           ]
          }
         ]
        }
       }
      ],
      "required": [
       "prompt"
      ],
      "properties": {
       "mode": {
        "type": "string",
        "title": "Generation Mode",
        "pattern": "^[A-Z][A-Z0-9_]*[A-Z0-9]$",
        "description": "Deprecated. Width and height are the canonical inputs for this model. This field is retained for backwards compatibility with mobile clients and Production API consumers that still send `mode`. Validation is silent: omitted is the new norm; explicit values are still consistency-checked against width and height.",
        "enum": [
         "RESOLUTION_480",
         "RESOLUTION_720"
        ],
        "anyOf": [
         {
          "enum": [
           "RESOLUTION_480"
          ]
         },
         {
          "enum": [
           "RESOLUTION_720"
          ]
         }
        ],
        "default": "RESOLUTION_480",
        "deprecated": true
       },
       "seed": {
        "type": "number",
        "title": "Seed",
        "description": "The seed value for video generation.",
        "maximum": 2147483637,
        "minimum": 0
       },
       "width": {
        "allOf": [
         {
          "type": "integer",
          "title": "Width",
          "maximum": 9007199254740991,
          "minimum": 0,
          "description": "The width of the image to generate in pixels"
         },
         {
          "enum": [
           512,
           576,
           832,
           480,
           1280,
           720,
           0
          ],
          "type": "integer"
         }
        ]
       },
       "height": {
        "allOf": [
         {
          "type": "integer",
          "title": "Height",
          "maximum": 9007199254740991,
          "minimum": 0,
          "description": "The height of the image to generate in pixels"
         },
         {
          "enum": [
           768,
           720,
           480,
           832,
           1280,
           0
          ],
          "type": "integer"
         }
        ]
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 9999,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "controls": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "akUUID"
         ],
         "properties": {
          "akUUID": {
           "type": "string",
           "format": "uuid",
           "description": "The unique identifier for each motion control item."
          },
          "weight": {
           "type": "number",
           "default": 1,
           "maximum": 2,
           "minimum": -2,
           "description": "The weight of the control item (optional)."
          }
         }
        },
        "title": "Motion Controls",
        "maxItems": 1,
        "description": "An array of Motion Control items (same format, but are defined separately from Motion Elements)."
       },
       "elements": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "akUUID"
         ],
         "properties": {
          "akUUID": {
           "type": "string",
           "format": "uuid",
           "description": "The unique identifier for each motion element or control element."
          },
          "weight": {
           "type": "number",
           "default": 1,
           "maximum": 2,
           "minimum": -2,
           "description": "The weight of the element (optional)."
          }
         }
        },
        "title": "Motion Elements",
        "default": [],
        "description": "An array of Motion Elements (same format, but are defined separately from Motion Control!)"
       },
       "quantity": {
        "type": "number",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 1,
        "maximum": 1
       },
       "guidances": {
        "type": "object",
        "properties": {
         "start_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Start Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "Start Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         }
        }
       },
       "style_ids": {
        "type": "array",
        "items": {
         "enum": [
          "964d8a8f-865b-48c5-b79e-e75ae8727648",
          "9cdfea2a-b4ab-4e97-a558-ec9fcb78f30a",
          "12b0d8c9-5cf8-4094-a3e5-6809bc269e21",
          "c4ac9781-8624-4b7d-bbed-dedaaf7b9da6",
          "28a53b2e-eb80-41d7-8360-208068fecf49",
          "d28c8f2b-22bb-4c0c-893d-d3835e28f2f7",
          "6078b232-d1be-4a01-9c10-95c05132a8e4",
          "d760b628-4a1d-41cb-bccb-053a13973b94",
          "c39fe4f8-76d6-4aad-899b-e7ca5a4148f3",
          "7d36972e-b9d5-46c7-813d-2c9934f9321b",
          "ff9bfd01-a7ac-4556-889a-25dd5fc0956f",
          "be32c760-2bb3-49ae-83dc-6f9b2d62a97f",
          "1d6e92d2-6e83-4ea2-bd4c-34ddfedfa163",
          "3f705252-1197-4f59-b6ed-21625dce6a65",
          "64b84d56-8b76-4367-95a6-df345a909af0",
          "4b60b356-a4ab-4983-9e9a-30e0d5b27bc6",
          "771bc1bd-0f88-4ff9-af63-f646847ed075",
          "1974bd47-75bb-499a-9c7a-354913904fcf",
          "994e33e6-4862-495d-9efb-d9a09ecdd769",
          "acb9deb3-31e3-495e-ab31-b138fde26bd6",
          "fa347beb-6d70-482d-94a8-a70736e9e7f1",
          "746e70e5-ab4d-4f39-9057-75698cb64bc2",
          "92c2d8d4-9757-4cbf-88f3-d7ea54c425af",
          "21b0a3e9-304a-4ff2-9603-15ddbc5a6b82",
          "dcfb60ca-f165-407f-b01c-2b34d22432c2",
          "913efd9b-1da8-4876-91d3-b6de0aa5582c",
          "9581d460-7023-4d85-b440-9fea8bbfe194",
          "9517dd8e-9588-4fe5-aede-6711438dd420",
          "d26aded5-e191-45d5-9662-db36b7085a76",
          "2380bd07-caf1-4ae6-a348-3bcf4b12f90a",
          "6c27f994-2e03-4d07-95b8-4a5db5bd3a27",
          "1bffb3f3-4110-4185-85f9-f7254ae6f81d",
          "46af026e-d21a-4cf4-a0c0-b482e6800331",
          "9243b709-ed08-49d9-9198-440f2127d3b5",
          "f84bbf31-1d72-415d-ae4c-deb4b18fccba",
          "d838fb14-9719-44f3-877e-da70d072b79c",
          "556c1ee5-ec38-42e8-955a-1e82dad0ffa1"
         ],
         "type": "string",
         "format": "uuid"
        },
        "title": "Style IDs for Video Models",
        "default": [],
        "description": "An array of zero or more style UUIDs for video models (vibe, lighting, color)."
       },
       "prompt_enhance": {
        "enum": [
         "AUTO",
         "ON",
         "OFF"
        ],
        "type": "string",
        "title": "Prompt Enhance",
        "default": "AUTO",
        "description": "Whether to enhance the prompt or not"
       },
       "negative_prompt": {
        "type": "string",
        "title": "Negative Prompt",
        "maxLength": 1000,
        "description": "The negative prompt to use for the generation"
       },
       "frame_interpolation": {
        "type": "boolean",
        "title": "Frame Interpolation",
        "default": true,
        "description": "Whether the video generation will smoothly blend frames"
       }
      },
      "description": "Architecture properties of the Motion 2.0 models"
     }
    },
    "example": {
     "model": "motion_2.0",
     "parameters": {
      "prompt": "your prompt here",
      "quantity": 1
     }
    }
   },
   "Motion2_0FastGenerationRequest": {
    "title": "Motion 2.0 Fast",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "motion_2.0-fast"
      ],
      "description": "Must be `motion_2.0-fast`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "allOf": [
       {}
      ],
      "oneOf": [
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           512
          ]
         },
         "height": {
          "enum": [
           768
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           576
          ]
         },
         "height": {
          "enum": [
           720
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           832
          ]
         },
         "height": {
          "enum": [
           480
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           480
          ]
         },
         "height": {
          "enum": [
           832
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           1280
          ]
         },
         "height": {
          "enum": [
           720
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           720
          ]
         },
         "height": {
          "enum": [
           1280
          ]
         }
        }
       },
       {
        "required": [
         "width",
         "height"
        ],
        "properties": {
         "width": {
          "enum": [
           0
          ]
         },
         "height": {
          "enum": [
           0
          ]
         }
        }
       },
       {
        "not": {
         "anyOf": [
          {
           "required": [
            "width"
           ]
          },
          {
           "required": [
            "height"
           ]
          }
         ]
        }
       }
      ],
      "required": [
       "prompt"
      ],
      "properties": {
       "mode": {
        "type": "string",
        "title": "Generation Mode",
        "pattern": "^[A-Z][A-Z0-9_]*[A-Z0-9]$",
        "description": "Deprecated. Width and height are the canonical inputs for this model. This field is retained for backwards compatibility with mobile clients and Production API consumers that still send `mode`. Validation is silent: omitted is the new norm; explicit values are still consistency-checked against width and height.",
        "enum": [
         "RESOLUTION_480",
         "RESOLUTION_720"
        ],
        "anyOf": [
         {
          "enum": [
           "RESOLUTION_480"
          ]
         },
         {
          "enum": [
           "RESOLUTION_720"
          ]
         }
        ],
        "default": "RESOLUTION_480",
        "deprecated": true
       },
       "seed": {
        "type": "number",
        "title": "Seed",
        "description": "The seed value for video generation.",
        "maximum": 4294967295,
        "minimum": 0
       },
       "width": {
        "allOf": [
         {
          "type": "integer",
          "title": "Width",
          "maximum": 9007199254740991,
          "minimum": 0,
          "description": "The width of the image to generate in pixels"
         },
         {
          "enum": [
           512,
           576,
           832,
           480,
           1280,
           720,
           0
          ],
          "type": "integer"
         }
        ]
       },
       "height": {
        "allOf": [
         {
          "type": "integer",
          "title": "Height",
          "maximum": 9007199254740991,
          "minimum": 0,
          "description": "The height of the image to generate in pixels"
         },
         {
          "enum": [
           768,
           720,
           480,
           832,
           1280,
           0
          ],
          "type": "integer"
         }
        ]
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 9999,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "controls": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "akUUID"
         ],
         "properties": {
          "akUUID": {
           "type": "string",
           "format": "uuid",
           "description": "The unique identifier for each motion control item."
          },
          "weight": {
           "type": "number",
           "default": 1,
           "maximum": 2,
           "minimum": -2,
           "description": "The weight of the control item (optional)."
          }
         }
        },
        "title": "Motion Controls",
        "maxItems": 1,
        "description": "An array of Motion Control items (same format, but are defined separately from Motion Elements)."
       },
       "elements": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "akUUID"
         ],
         "properties": {
          "akUUID": {
           "type": "string",
           "format": "uuid",
           "description": "The unique identifier for each motion element or control element."
          },
          "weight": {
           "type": "number",
           "default": 1,
           "maximum": 2,
           "minimum": -2,
           "description": "The weight of the element (optional)."
          }
         }
        },
        "title": "Motion Elements",
        "default": [],
        "description": "An array of Motion Elements (same format, but are defined separately from Motion Control!)"
       },
       "quantity": {
        "type": "number",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 1,
        "maximum": 1
       },
       "guidances": {
        "type": "object",
        "properties": {
         "start_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Start Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "Start Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         }
        }
       },
       "style_ids": {
        "type": "array",
        "items": {
         "enum": [
          "964d8a8f-865b-48c5-b79e-e75ae8727648",
          "9cdfea2a-b4ab-4e97-a558-ec9fcb78f30a",
          "12b0d8c9-5cf8-4094-a3e5-6809bc269e21",
          "c4ac9781-8624-4b7d-bbed-dedaaf7b9da6",
          "28a53b2e-eb80-41d7-8360-208068fecf49",
          "d28c8f2b-22bb-4c0c-893d-d3835e28f2f7",
          "6078b232-d1be-4a01-9c10-95c05132a8e4",
          "d760b628-4a1d-41cb-bccb-053a13973b94",
          "c39fe4f8-76d6-4aad-899b-e7ca5a4148f3",
          "7d36972e-b9d5-46c7-813d-2c9934f9321b",
          "ff9bfd01-a7ac-4556-889a-25dd5fc0956f",
          "be32c760-2bb3-49ae-83dc-6f9b2d62a97f",
          "1d6e92d2-6e83-4ea2-bd4c-34ddfedfa163",
          "3f705252-1197-4f59-b6ed-21625dce6a65",
          "64b84d56-8b76-4367-95a6-df345a909af0",
          "4b60b356-a4ab-4983-9e9a-30e0d5b27bc6",
          "771bc1bd-0f88-4ff9-af63-f646847ed075",
          "1974bd47-75bb-499a-9c7a-354913904fcf",
          "994e33e6-4862-495d-9efb-d9a09ecdd769",
          "acb9deb3-31e3-495e-ab31-b138fde26bd6",
          "fa347beb-6d70-482d-94a8-a70736e9e7f1",
          "746e70e5-ab4d-4f39-9057-75698cb64bc2",
          "92c2d8d4-9757-4cbf-88f3-d7ea54c425af",
          "21b0a3e9-304a-4ff2-9603-15ddbc5a6b82",
          "dcfb60ca-f165-407f-b01c-2b34d22432c2",
          "913efd9b-1da8-4876-91d3-b6de0aa5582c",
          "9581d460-7023-4d85-b440-9fea8bbfe194",
          "9517dd8e-9588-4fe5-aede-6711438dd420",
          "d26aded5-e191-45d5-9662-db36b7085a76",
          "2380bd07-caf1-4ae6-a348-3bcf4b12f90a",
          "6c27f994-2e03-4d07-95b8-4a5db5bd3a27",
          "1bffb3f3-4110-4185-85f9-f7254ae6f81d",
          "46af026e-d21a-4cf4-a0c0-b482e6800331",
          "9243b709-ed08-49d9-9198-440f2127d3b5",
          "f84bbf31-1d72-415d-ae4c-deb4b18fccba",
          "d838fb14-9719-44f3-877e-da70d072b79c",
          "556c1ee5-ec38-42e8-955a-1e82dad0ffa1"
         ],
         "type": "string",
         "format": "uuid"
        },
        "title": "Style IDs for Video Models",
        "default": [],
        "description": "An array of zero or more style UUIDs for video models (vibe, lighting, color)."
       },
       "start_frame": {
        "type": "object",
        "allOf": [
         {},
         {}
        ],
        "title": "Video start frame",
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "url": {
          "type": "string",
          "format": "uri",
          "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
         },
         "data": {
          "type": "string",
          "description": "Base64-encoded image bytes. Required when type is BASE64.",
          "format": "byte"
         },
         "type": {
          "enum": [
           "UPLOADED",
           "GENERATED",
           "VARIATION",
           "URL",
           "BASE64"
          ],
          "type": "string"
         },
         "width": {
          "type": "integer"
         },
         "height": {
          "type": "integer"
         }
        },
        "description": "The start frame init_image to start a generation with",
        "deprecated": true
       },
       "prompt_enhance": {
        "enum": [
         "AUTO",
         "ON",
         "OFF"
        ],
        "type": "string",
        "title": "Prompt Enhance",
        "default": "AUTO",
        "description": "Whether to enhance the prompt or not"
       },
       "negative_prompt": {
        "type": "string",
        "title": "Negative Prompt",
        "maxLength": 1000,
        "description": "The negative prompt to use for the generation"
       },
       "frame_interpolation": {
        "type": "boolean",
        "title": "Frame Interpolation",
        "default": true,
        "description": "Whether the video generation will smoothly blend frames"
       }
      },
      "description": "Architecture properties of the Motion 2.0 Fast model"
     }
    },
    "example": {
     "model": "motion_2.0-fast",
     "parameters": {
      "prompt": "your prompt here",
      "quantity": 1
     }
    }
   },
   "Veo3_1Generate001GenerationRequest": {
    "title": "Veo 3.1",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "veo-3.1-generate-001"
      ],
      "description": "Must be `veo-3.1-generate-001`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "allOf": [
       {
        "not": {
         "anyOf": [
          {
           "allOf": [
            {
             "required": [
              "start_frame"
             ]
            },
            {
             "required": [
              "guidances"
             ],
             "properties": {
              "guidances": {
               "type": "object",
               "required": [
                "start_frame"
               ],
               "properties": {
                "start_frame": {
                 "type": "array",
                 "minItems": 1
                }
               }
              }
             }
            }
           ]
          },
          {
           "allOf": [
            {
             "required": [
              "end_frame"
             ]
            },
            {
             "required": [
              "guidances"
             ],
             "properties": {
              "guidances": {
               "type": "object",
               "required": [
                "end_frame"
               ],
               "properties": {
                "end_frame": {
                 "type": "array",
                 "minItems": 1
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       },
       {
        "anyOf": [
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1280
            ]
           },
           "height": {
            "enum": [
             720
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             720
            ]
           },
           "height": {
            "enum": [
             1280
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1920
            ]
           },
           "height": {
            "enum": [
             1080
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1080
            ]
           },
           "height": {
            "enum": [
             1920
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             3840
            ]
           },
           "height": {
            "enum": [
             2160
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             2160
            ]
           },
           "height": {
            "enum": [
             3840
            ]
           }
          }
         }
        ]
       }
      ],
      "required": [
       "prompt",
       "quantity"
      ],
      "properties": {
       "mode": {
        "type": "string",
        "title": "Quality",
        "pattern": "^[A-Z][A-Z0-9_]*[A-Z0-9]$",
        "description": "Deprecated. Width and height are the canonical inputs for this model. This field is retained for backwards compatibility with mobile clients and Production API consumers that still send `mode`. Validation is silent: omitted is the new norm; explicit values are still consistency-checked against width and height.",
        "enum": [
         "RESOLUTION_720",
         "RESOLUTION_1080",
         "RESOLUTION_2160"
        ],
        "anyOf": [
         {
          "enum": [
           "RESOLUTION_720"
          ]
         },
         {
          "enum": [
           "RESOLUTION_1080"
          ]
         },
         {
          "enum": [
           "RESOLUTION_2160"
          ]
         }
        ],
        "default": "RESOLUTION_720",
        "deprecated": true
       },
       "seed": {
        "type": "number",
        "title": "Seed",
        "description": "The seed value for generation",
        "maximum": 4294967295,
        "minimum": 0
       },
       "audio": {
        "type": "boolean",
        "title": "Audio",
        "default": true,
        "description": "Whether the video generation will include audio.",
        "deprecated": true
       },
       "width": {
        "enum": [
         720,
         1080,
         1280,
         1920,
         2160,
         3840
        ],
        "type": "integer",
        "default": 1280
       },
       "height": {
        "enum": [
         720,
         1080,
         1280,
         1920,
         2160,
         3840
        ],
        "type": "integer",
        "default": 720
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 9999,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "duration": {
        "type": "integer",
        "title": "Duration",
        "description": "Duration of the video in seconds",
        "enum": [
         4,
         6,
         8
        ],
        "default": 8
       },
       "quantity": {
        "type": "integer",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 1,
        "maximum": 1
       },
       "end_frame": {
        "type": "object",
        "allOf": [
         {},
         {}
        ],
        "title": "Video end frame",
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "url": {
          "type": "string",
          "format": "uri",
          "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
         },
         "data": {
          "type": "string",
          "description": "Base64-encoded image bytes. Required when type is BASE64.",
          "format": "byte"
         },
         "type": {
          "enum": [
           "UPLOADED",
           "GENERATED",
           "VARIATION",
           "URL",
           "BASE64"
          ],
          "type": "string"
         },
         "width": {
          "type": "integer"
         },
         "height": {
          "type": "integer"
         }
        },
        "description": "The end frame image to end a generation with",
        "deprecated": true
       },
       "guidances": {
        "type": "object",
        "properties": {
         "end_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "End Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "End Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         },
         "start_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Start Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "Start Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         },
         "image_reference": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Image reference",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            },
            "order": {
             "type": "integer",
             "title": "GuidanceOrder",
             "minimum": 0,
             "description": "The order at which we want this guidance to be in a list of guidances"
            }
           },
           "description": "Image reference guidance object, containing parameters available for image reference guidance"
          },
          "title": "Image Reference",
          "description": "References images to guide your video generation.",
          "maxItems": 3
         }
        },
        "additionalProperties": false
       },
       "start_frame": {
        "type": "object",
        "allOf": [
         {},
         {}
        ],
        "title": "Video start frame",
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "url": {
          "type": "string",
          "format": "uri",
          "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
         },
         "data": {
          "type": "string",
          "description": "Base64-encoded image bytes. Required when type is BASE64.",
          "format": "byte"
         },
         "type": {
          "enum": [
           "UPLOADED",
           "GENERATED",
           "VARIATION",
           "URL",
           "BASE64"
          ],
          "type": "string"
         },
         "width": {
          "type": "integer"
         },
         "height": {
          "type": "integer"
         }
        },
        "description": "The start frame init_image to start a generation with",
        "deprecated": true
       },
       "negative_prompt": {
        "type": "string",
        "title": "Negative Prompt",
        "maxLength": 1000,
        "description": "The negative prompt to use for the generation"
       },
       "motion_has_audio": {
        "type": "boolean",
        "title": "Audio",
        "default": true,
        "description": "Whether the video generation will include audio.",
        "anyOf": [
         {
          "enum": [
           true
          ]
         },
         {
          "enum": [
           false
          ]
         }
        ]
       }
      }
     }
    },
    "example": {
     "model": "veo-3.1-generate-001",
     "parameters": {
      "width": 1280,
      "height": 720,
      "prompt": "your prompt here",
      "duration": 8,
      "quantity": 1,
      "motion_has_audio": true
     }
    }
   },
   "Veo3_1FastGenerate001GenerationRequest": {
    "title": "Veo 3.1 Fast",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "veo-3.1-fast-generate-001"
      ],
      "description": "Must be `veo-3.1-fast-generate-001`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "allOf": [
       {
        "not": {
         "anyOf": [
          {
           "allOf": [
            {
             "required": [
              "start_frame"
             ]
            },
            {
             "required": [
              "guidances"
             ],
             "properties": {
              "guidances": {
               "type": "object",
               "required": [
                "start_frame"
               ],
               "properties": {
                "start_frame": {
                 "type": "array",
                 "minItems": 1
                }
               }
              }
             }
            }
           ]
          },
          {
           "allOf": [
            {
             "required": [
              "end_frame"
             ]
            },
            {
             "required": [
              "guidances"
             ],
             "properties": {
              "guidances": {
               "type": "object",
               "required": [
                "end_frame"
               ],
               "properties": {
                "end_frame": {
                 "type": "array",
                 "minItems": 1
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       },
       {
        "anyOf": [
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1280
            ]
           },
           "height": {
            "enum": [
             720
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             720
            ]
           },
           "height": {
            "enum": [
             1280
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1920
            ]
           },
           "height": {
            "enum": [
             1080
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1080
            ]
           },
           "height": {
            "enum": [
             1920
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             3840
            ]
           },
           "height": {
            "enum": [
             2160
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             2160
            ]
           },
           "height": {
            "enum": [
             3840
            ]
           }
          }
         }
        ]
       }
      ],
      "required": [
       "prompt",
       "quantity"
      ],
      "properties": {
       "mode": {
        "type": "string",
        "title": "Quality",
        "pattern": "^[A-Z][A-Z0-9_]*[A-Z0-9]$",
        "description": "Deprecated. Width and height are the canonical inputs for this model. This field is retained for backwards compatibility with mobile clients and Production API consumers that still send `mode`. Validation is silent: omitted is the new norm; explicit values are still consistency-checked against width and height.",
        "enum": [
         "RESOLUTION_720",
         "RESOLUTION_1080",
         "RESOLUTION_2160"
        ],
        "anyOf": [
         {
          "enum": [
           "RESOLUTION_720"
          ]
         },
         {
          "enum": [
           "RESOLUTION_1080"
          ]
         },
         {
          "enum": [
           "RESOLUTION_2160"
          ]
         }
        ],
        "default": "RESOLUTION_720",
        "deprecated": true
       },
       "seed": {
        "type": "number",
        "title": "Seed",
        "description": "The seed value for generation",
        "maximum": 4294967295,
        "minimum": 0
       },
       "audio": {
        "type": "boolean",
        "title": "Audio",
        "default": true,
        "description": "Whether the video generation will include audio.",
        "deprecated": true
       },
       "width": {
        "enum": [
         720,
         1080,
         1280,
         1920,
         2160,
         3840
        ],
        "type": "integer",
        "default": 1280
       },
       "height": {
        "enum": [
         720,
         1080,
         1280,
         1920,
         2160,
         3840
        ],
        "type": "integer",
        "default": 720
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 9999,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "duration": {
        "type": "integer",
        "title": "Duration",
        "description": "Duration of the video in seconds",
        "enum": [
         4,
         6,
         8
        ],
        "default": 8
       },
       "quantity": {
        "type": "integer",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 1,
        "maximum": 1
       },
       "end_frame": {
        "type": "object",
        "allOf": [
         {},
         {}
        ],
        "title": "Video end frame",
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "url": {
          "type": "string",
          "format": "uri",
          "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
         },
         "data": {
          "type": "string",
          "description": "Base64-encoded image bytes. Required when type is BASE64.",
          "format": "byte"
         },
         "type": {
          "enum": [
           "UPLOADED",
           "GENERATED",
           "VARIATION",
           "URL",
           "BASE64"
          ],
          "type": "string"
         },
         "width": {
          "type": "integer"
         },
         "height": {
          "type": "integer"
         }
        },
        "description": "The end frame image to end a generation with",
        "deprecated": true
       },
       "guidances": {
        "type": "object",
        "properties": {
         "end_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "End Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "End Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         },
         "start_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Start Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "Start Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         }
        },
        "additionalProperties": false
       },
       "start_frame": {
        "type": "object",
        "allOf": [
         {},
         {}
        ],
        "title": "Video start frame",
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "url": {
          "type": "string",
          "format": "uri",
          "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
         },
         "data": {
          "type": "string",
          "description": "Base64-encoded image bytes. Required when type is BASE64.",
          "format": "byte"
         },
         "type": {
          "enum": [
           "UPLOADED",
           "GENERATED",
           "VARIATION",
           "URL",
           "BASE64"
          ],
          "type": "string"
         },
         "width": {
          "type": "integer"
         },
         "height": {
          "type": "integer"
         }
        },
        "description": "The start frame init_image to start a generation with",
        "deprecated": true
       },
       "negative_prompt": {
        "type": "string",
        "title": "Negative Prompt",
        "maxLength": 1000,
        "description": "The negative prompt to use for the generation"
       },
       "motion_has_audio": {
        "type": "boolean",
        "title": "Audio",
        "default": true,
        "description": "Whether the video generation will include audio.",
        "anyOf": [
         {
          "enum": [
           true
          ]
         },
         {
          "enum": [
           false
          ]
         }
        ]
       }
      }
     }
    },
    "example": {
     "model": "veo-3.1-fast-generate-001",
     "parameters": {
      "width": 1280,
      "height": 720,
      "prompt": "your prompt here",
      "duration": 8,
      "quantity": 1,
      "motion_has_audio": true
     }
    }
   },
   "Veo3_1LiteGenerationRequest": {
    "title": "Veo 3.1 Lite",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "veo-3.1-lite"
      ],
      "description": "Must be `veo-3.1-lite`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "allOf": [
       {
        "not": {
         "anyOf": [
          {
           "allOf": [
            {
             "required": [
              "start_frame"
             ]
            },
            {
             "required": [
              "guidances"
             ],
             "properties": {
              "guidances": {
               "type": "object",
               "required": [
                "start_frame"
               ],
               "properties": {
                "start_frame": {
                 "type": "array",
                 "minItems": 1
                }
               }
              }
             }
            }
           ]
          },
          {
           "allOf": [
            {
             "required": [
              "end_frame"
             ]
            },
            {
             "required": [
              "guidances"
             ],
             "properties": {
              "guidances": {
               "type": "object",
               "required": [
                "end_frame"
               ],
               "properties": {
                "end_frame": {
                 "type": "array",
                 "minItems": 1
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       },
       {
        "anyOf": [
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1280
            ]
           },
           "height": {
            "enum": [
             720
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             720
            ]
           },
           "height": {
            "enum": [
             1280
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1920
            ]
           },
           "height": {
            "enum": [
             1080
            ]
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "width": {
            "enum": [
             1080
            ]
           },
           "height": {
            "enum": [
             1920
            ]
           }
          }
         }
        ]
       },
       {},
       {},
       {}
      ],
      "required": [
       "prompt",
       "quantity"
      ],
      "properties": {
       "mode": {
        "type": "string",
        "title": "Quality",
        "pattern": "^[A-Z][A-Z0-9_]*[A-Z0-9]$",
        "description": "Deprecated. Width and height are the canonical inputs for this model. This field is retained for backwards compatibility with mobile clients and Production API consumers that still send `mode`. Validation is silent: omitted is the new norm; explicit values are still consistency-checked against width and height.",
        "enum": [
         "RESOLUTION_720",
         "RESOLUTION_1080"
        ],
        "anyOf": [
         {
          "enum": [
           "RESOLUTION_720"
          ]
         },
         {
          "enum": [
           "RESOLUTION_1080"
          ]
         }
        ],
        "default": "RESOLUTION_720",
        "deprecated": true
       },
       "seed": {
        "type": "number",
        "title": "Seed",
        "description": "The seed value for generation",
        "maximum": 4294967295,
        "minimum": 0
       },
       "audio": {
        "type": "boolean",
        "title": "Audio",
        "default": true,
        "description": "Whether the video generation will include audio.",
        "deprecated": true
       },
       "width": {
        "enum": [
         720,
         1080,
         1280,
         1920
        ],
        "type": "integer",
        "default": 1280
       },
       "height": {
        "enum": [
         720,
         1080,
         1280,
         1920
        ],
        "type": "integer",
        "default": 720
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 9999,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "duration": {
        "type": "integer",
        "title": "Duration",
        "description": "Duration of the video in seconds",
        "enum": [
         4,
         6,
         8
        ],
        "default": 8
       },
       "quantity": {
        "type": "integer",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 1,
        "maximum": 1
       },
       "end_frame": {
        "type": "object",
        "allOf": [
         {},
         {}
        ],
        "title": "Video end frame",
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "url": {
          "type": "string",
          "format": "uri",
          "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
         },
         "data": {
          "type": "string",
          "description": "Base64-encoded image bytes. Required when type is BASE64.",
          "format": "byte"
         },
         "type": {
          "enum": [
           "UPLOADED",
           "GENERATED",
           "VARIATION",
           "URL",
           "BASE64"
          ],
          "type": "string"
         },
         "width": {
          "type": "integer"
         },
         "height": {
          "type": "integer"
         }
        },
        "description": "The end frame image to end a generation with",
        "deprecated": true
       },
       "guidances": {
        "type": "object",
        "properties": {
         "end_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "End Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "End Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         },
         "start_frame": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Start Frame",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            }
           }
          },
          "title": "Start Frame",
          "description": "Creative reinterpretation of vibe or structure from a reference image.",
          "uniqueItems": true,
          "maxItems": 1
         }
        },
        "additionalProperties": false
       },
       "start_frame": {
        "type": "object",
        "allOf": [
         {},
         {}
        ],
        "title": "Video start frame",
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "url": {
          "type": "string",
          "format": "uri",
          "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
         },
         "data": {
          "type": "string",
          "description": "Base64-encoded image bytes. Required when type is BASE64.",
          "format": "byte"
         },
         "type": {
          "enum": [
           "UPLOADED",
           "GENERATED",
           "VARIATION",
           "URL",
           "BASE64"
          ],
          "type": "string"
         },
         "width": {
          "type": "integer"
         },
         "height": {
          "type": "integer"
         }
        },
        "description": "The start frame init_image to start a generation with",
        "deprecated": true
       },
       "negative_prompt": {
        "type": "string",
        "title": "Negative Prompt",
        "maxLength": 1000,
        "description": "The negative prompt to use for the generation"
       },
       "motion_has_audio": {
        "type": "boolean",
        "title": "Audio",
        "default": true,
        "description": "Whether the video generation will include audio."
       }
      }
     }
    },
    "example": {
     "model": "veo-3.1-lite",
     "parameters": {
      "width": 1280,
      "height": 720,
      "prompt": "your prompt here",
      "duration": 8,
      "quantity": 1,
      "motion_has_audio": true
     }
    }
   },
   "FluxDevGenerationRequest": {
    "title": "FLUX Dev",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "flux-dev"
      ],
      "description": "Must be `flux-dev`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "required": [
       "prompt"
      ],
      "properties": {
       "seed": {
        "type": "integer",
        "title": "Seed",
        "description": "The seed value for generation",
        "maximum": 2147483637,
        "minimum": 0
       },
       "width": {
        "type": "integer",
        "title": "Width",
        "maximum": 2048,
        "minimum": 480,
        "description": "The width of the image to generate in pixels",
        "default": 1024,
        "multipleOf": 8
       },
       "height": {
        "type": "integer",
        "title": "Height",
        "maximum": 2048,
        "minimum": 480,
        "description": "The height of the image to generate in pixels",
        "default": 1024,
        "multipleOf": 8
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 2000,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "quantity": {
        "type": "integer",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 4,
        "maximum": 8
       },
       "guidances": {
        "type": "object",
        "title": "Image guidance",
        "description": "The image guidance properties object that will be defined on a per-model basis.",
        "properties": {
         "style": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Style reference",
           "required": [
            "image",
            "strength"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            },
            "order": {
             "type": "integer",
             "title": "GuidanceOrder",
             "minimum": 0,
             "description": "The order at which we want this guidance to be in a list of guidances"
            },
            "strength": {
             "enum": [
              "LOW",
              "MID",
              "HIGH",
              "ULTRA",
              "MAX"
             ],
             "type": "string",
             "default": "MID",
             "description": "The strength of the guidance"
            }
           },
           "description": "Style transfer guidance object, containing parameters available for style transfer image guidance"
          },
          "title": "Style Reference",
          "description": "References the style from the input image to guide your image generation.",
          "maxItems": 1
         },
         "content": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Content reference",
           "required": [
            "image",
            "strength"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            },
            "order": {
             "type": "integer",
             "title": "GuidanceOrder",
             "minimum": 0,
             "description": "The order at which we want this guidance to be in a list of guidances"
            },
            "strength": {
             "enum": [
              "LOW",
              "MID",
              "HIGH",
              "ULTRA"
             ],
             "type": "string",
             "default": "MID",
             "description": "The strength of the guidance"
            }
           },
           "description": "Content transfer guidance object, containing parameters available for content transfer image guidance"
          },
          "title": "Content Reference",
          "description": "References the form and content from the input image to guide your image generation.",
          "maxItems": 1
         }
        }
       },
       "style_ids": {
        "type": "array",
        "items": {
         "enum": [
          "debdf72a-91a4-467b-bf61-cc02bdeb69c6",
          "3cbb655a-7ca4-463f-b697-8a03ad67327c",
          "b2a54a51-230b-4d4f-ad4e-8409bf58645f",
          "6fedbf1f-4a17-45ec-84fb-92fe524a29ef",
          "111dc692-d470-4eec-b791-3475abac4c46",
          "594c4a08-a522-4e0e-b7ff-e4dac4b6b622",
          "09d2b5b5-d7c5-4c02-905d-9f84051640f4",
          "7d7c2bc5-4b12-4ac3-81a9-630057e9e89f",
          "645e4195-f63d-4715-a3f2-3fb1e6eb8c70",
          "ab5a4220-7c42-41e5-a578-eddb9fed3d75",
          "4edb03c9-8a26-4041-9d01-f85b5d4abd71",
          "0d34f8e1-46d4-428f-8ddd-4b11811fa7c9",
          "b504f83c-3326-4947-82e1-7fe9e839ec0f",
          "5bdc3f2a-1be6-4d1c-8e77-992a30824a2c",
          "1db308ce-c7ad-4d10-96fd-592fa6b75cc4",
          "556c1ee5-ec38-42e8-955a-1e82dad0ffa1"
         ],
         "type": "string",
         "format": "uuid"
        },
        "title": "Style IDs for Image Models",
        "default": [
         "111dc692-d470-4eec-b791-3475abac4c46"
        ],
        "description": "An array of style UUIDs for image models (limited to 1 style)."
       },
       "user_elements": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "userLoraId"
         ],
         "properties": {
          "weight": {
           "type": "number",
           "default": 1,
           "maximum": 2,
           "minimum": -2,
           "description": "The weight of the element (optional)."
          },
          "userLoraId": {
           "type": "integer",
           "description": "The unique identifier for each user-trained element."
          }
         }
        },
        "title": "Your Elements",
        "default": [],
        "description": "An array of User Elements for image generation.",
        "maxItems": 4
       },
       "prompt_enhance": {
        "enum": [
         "AUTO",
         "ON",
         "OFF"
        ],
        "type": "string",
        "title": "Prompt Enhance",
        "default": "AUTO",
        "description": "Whether to enhance the prompt or not"
       },
       "platform_elements": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "akUUID"
         ],
         "properties": {
          "akUUID": {
           "type": "string",
           "format": "uuid",
           "description": "The unique identifier for each platform element."
          },
          "weight": {
           "type": "number",
           "default": 1,
           "maximum": 2,
           "minimum": -2,
           "description": "The weight of the element (optional)."
          }
         }
        },
        "title": "Platform Elements",
        "default": [],
        "description": "An array of Platform Elements for image generation.",
        "maxItems": 4
       }
      },
      "description": "Flux Model Parameters"
     }
    },
    "example": {
     "model": "flux-dev",
     "parameters": {
      "width": 1024,
      "height": 1024,
      "prompt": "your prompt here",
      "quantity": 4,
      "style_ids": [
       "111dc692-d470-4eec-b791-3475abac4c46"
      ]
     }
    }
   },
   "FluxKontextProGenerationRequest": {
    "title": "FLUX.1 Kontext",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "flux-kontext-pro"
      ],
      "description": "Must be `flux-kontext-pro`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "required": [
       "prompt"
      ],
      "properties": {
       "seed": {
        "type": "integer",
        "title": "Seed",
        "description": "The seed value for generation",
        "maximum": 2147483637,
        "minimum": 0
       },
       "width": {
        "type": "integer",
        "title": "Width",
        "maximum": 2048,
        "minimum": 32,
        "description": "The width of the image to generate in pixels",
        "default": 1024
       },
       "height": {
        "type": "integer",
        "title": "Height",
        "maximum": 2048,
        "minimum": 32,
        "description": "The height of the image to generate in pixels",
        "default": 1024
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 9999,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "quantity": {
        "type": "integer",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 4,
        "maximum": 8
       },
       "guidances": {
        "type": "object",
        "title": "Image guidance",
        "description": "The image guidance properties object that will be defined on a per-model basis.",
        "properties": {
         "image_reference": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Image reference",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            },
            "order": {
             "type": "integer",
             "title": "GuidanceOrder",
             "minimum": 0,
             "description": "The order at which we want this guidance to be in a list of guidances"
            }
           },
           "description": "Image reference guidance object, containing parameters available for image reference guidance"
          },
          "title": "Image Reference",
          "description": "References images to guide your video generation.",
          "maxItems": 4
         }
        }
       },
       "style_ids": {
        "type": "array",
        "items": {
         "enum": [
          "debdf72a-91a4-467b-bf61-cc02bdeb69c6",
          "3cbb655a-7ca4-463f-b697-8a03ad67327c",
          "6fedbf1f-4a17-45ec-84fb-92fe524a29ef",
          "111dc692-d470-4eec-b791-3475abac4c46",
          "594c4a08-a522-4e0e-b7ff-e4dac4b6b622",
          "09d2b5b5-d7c5-4c02-905d-9f84051640f4",
          "703d6fe5-7f1c-4a9e-8da0-5331f214d5cf",
          "7d7c2bc5-4b12-4ac3-81a9-630057e9e89f",
          "645e4195-f63d-4715-a3f2-3fb1e6eb8c70",
          "ab5a4220-7c42-41e5-a578-eddb9fed3d75",
          "4edb03c9-8a26-4041-9d01-f85b5d4abd71",
          "0d34f8e1-46d4-428f-8ddd-4b11811fa7c9",
          "22a9a7d2-2166-4d86-80ff-22e2643adbcf",
          "7c3f932b-a572-47cb-9b9b-f20211e63b5b",
          "581ba6d6-5aac-4492-bebe-54c424a0d46e",
          "b504f83c-3326-4947-82e1-7fe9e839ec0f",
          "5bdc3f2a-1be6-4d1c-8e77-992a30824a2c",
          "1db308ce-c7ad-4d10-96fd-592fa6b75cc4",
          "556c1ee5-ec38-42e8-955a-1e82dad0ffa1"
         ],
         "type": "string",
         "format": "uuid"
        },
        "title": "Style IDs for Image Models",
        "default": [
         "111dc692-d470-4eec-b791-3475abac4c46"
        ],
        "description": "An array of style UUIDs for image models (limited to 1 style)."
       },
       "prompt_enhance": {
        "enum": [
         "AUTO",
         "ON",
         "OFF"
        ],
        "type": "string",
        "title": "Prompt Enhance",
        "default": "AUTO",
        "description": "Whether to enhance the prompt or not"
       }
      }
     }
    },
    "example": {
     "model": "flux-kontext-pro",
     "parameters": {
      "width": 1024,
      "height": 1024,
      "prompt": "your prompt here",
      "quantity": 4,
      "style_ids": [
       "111dc692-d470-4eec-b791-3475abac4c46"
      ]
     }
    }
   },
   "FluxKontextMaxGenerationRequest": {
    "title": "FLUX.1 Kontext Max",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "flux-kontext-max"
      ],
      "description": "Must be `flux-kontext-max`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
     "parameters": {
      "type": "object",
      "required": [
       "prompt"
      ],
      "properties": {
       "seed": {
        "type": "integer",
        "title": "Seed",
        "description": "The seed value for generation",
        "maximum": 4294967295,
        "minimum": 0
       },
       "width": {
        "type": "integer",
        "title": "Width",
        "maximum": 2048,
        "minimum": 32,
        "description": "The width of the image to generate in pixels",
        "default": 1024
       },
       "height": {
        "type": "integer",
        "title": "Height",
        "maximum": 2048,
        "minimum": 32,
        "description": "The height of the image to generate in pixels",
        "default": 1024
       },
       "prompt": {
        "type": "string",
        "title": "Prompt",
        "maxLength": 9999,
        "minLength": 1,
        "description": "The prompt to use for the generation"
       },
       "quantity": {
        "type": "integer",
        "title": "Quantity",
        "minimum": 1,
        "description": "The number of outputs to generate",
        "default": 4,
        "maximum": 8
       },
       "guidances": {
        "type": "object",
        "title": "Image guidance",
        "description": "The image guidance properties object that will be defined on a per-model basis.",
        "properties": {
         "image_reference": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Image reference",
           "required": [
            "image"
           ],
           "properties": {
            "image": {
             "type": "object",
             "allOf": [
              {},
              {}
             ],
             "title": "Image reference",
             "properties": {
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "url": {
               "type": "string",
               "format": "uri",
               "description": "Image URL or a base64 data URL. Required when type is URL. The backend enriches resolved image URLs."
              },
              "data": {
               "type": "string",
               "description": "Base64-encoded image bytes. Required when type is BASE64.",
               "format": "byte"
              },
              "type": {
               "enum": [
                "UPLOADED",
                "GENERATED",
                "VARIATION",
                "URL",
                "BASE64"
               ],
               "type": "string"
              },
              "width": {
               "type": "integer"
              },
              "height": {
               "type": "integer"
              }
             },
             "description": "A reference to an image"
            },
            "order": {
             "type": "integer",
             "title": "GuidanceOrder",
             "minimum": 0,
             "description": "The order at which we want this guidance to be in a list of guidances"
            }
           },
           "description": "Image reference guidance object, containing parameters available for image reference guidance"
          },
          "title": "Image Reference",
          "description": "References images to guide your video generation.",
          "maxItems": 4
         }
        }
       },
       "style_ids": {
        "type": "array",
        "items": {
         "enum": [
          "debdf72a-91a4-467b-bf61-cc02bdeb69c6",
          "3cbb655a-7ca4-463f-b697-8a03ad67327c",
          "6fedbf1f-4a17-45ec-84fb-92fe524a29ef",
          "111dc692-d470-4eec-b791-3475abac4c46",
          "594c4a08-a522-4e0e-b7ff-e4dac4b6b622",
          "09d2b5b5-d7c5-4c02-905d-9f84051640f4",
          "703d6fe5-7f1c-4a9e-8da0-5331f214d5cf",
          "7d7c2bc5-4b12-4ac3-81a9-630057e9e89f",
          "645e4195-f63d-4715-a3f2-3fb1e6eb8c70",
          "ab5a4220-7c42-41e5-a578-eddb9fed3d75",
          "4edb03c9-8a26-4041-9d01-f85b5d4abd71",
          "0d34f8e1-46d4-428f-8ddd-4b11811fa7c9",
          "22a9a7d2-2166-4d86-80ff-22e2643adbcf",
          "7c3f932b-a572-47cb-9b9b-f20211e63b5b",
          "581ba6d6-5aac-4492-bebe-54c424a0d46e",
          "b504f83c-3326-4947-82e1-7fe9e839ec0f",
          "5bdc3f2a-1be6-4d1c-8e77-992a30824a2c",
          "1db308ce-c7ad-4d10-96fd-592fa6b75cc4",
          "556c1ee5-ec38-42e8-955a-1e82dad0ffa1"
         ],
         "type": "string",
         "format": "uuid"
        },
        "title": "Style IDs for Image Models",
        "default": [
         "111dc692-d470-4eec-b791-3475abac4c46"
        ],
        "description": "An array of style UUIDs for image models (limited to 1 style)."
       },
       "prompt_enhance": {
        "enum": [
         "AUTO",
         "ON",
         "OFF"
        ],
        "type": "string",
        "title": "Prompt Enhance",
        "default": "AUTO",
        "description": "Whether to enhance the prompt or not"
       }
      }
     }
    },
    "example": {
     "model": "flux-kontext-max",
     "parameters": {
      "width": 1024,
      "height": 1024,
      "prompt": "your prompt here",
      "quantity": 4,
      "style_ids": [
       "111dc692-d470-4eec-b791-3475abac4c46"
      ]
     }
    }
   },
   "FluxSchnellGenerationRequest": {
    "title": "FLUX Schnell",
    "type": "object",
    "required": [
     "model"
    ],
    "properties": {
     "model": {
      "type": "string",
      "enum": [
       "flux-schnell"
      ],
      "description": "Must be `flux-schnell`."
     },
     "public": {
      "type": "boolean",
      "description": "Whether the generated images should show in the community feed."
     },
[...]
